<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Info</title>
</head>
<body>
    <div id="container">
        <h3>Submitted Info</h3>
        <p class="output">Name: {{session['username']}}</p>
        <p class="output">Dojo Location: {{session['location']}}</p>
        <p class="output">Favorite Language: {{session['language']}}</p>
        <p class="output">Comments: {{session['comment']}}</p>
    </div>
    

</body>
</html>